.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.8rem;
}

.loader {
  transform: translate(0, -50%);
  text-align: center;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 2s steps(10) infinite alternate,
    blink 0.5s steps(10) infinite;
}

.loadertext {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(to right, #991590, #53023e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 240px;
  }
}

@keyframes blink {
  0% {
    border-right-color: #991590;
  }

  100% {
    border-right-color: transparent;
  }
}
